{% load i18n %}


<div class="row modal-head m-0">
    <div class="col-11"><i class="fa fa-warehouse"></i>&nbsp; {% trans 'Incidencia' %} </div>
    <div class="col-1">
        <div class="d-flex justify-content-end"> 
            <button type="button" class="btn btn-lg" data-bs-dismiss="modal" title="{% trans "Close" %}"> 
                <i class="fas fa-times"></i></button> 
        </div>
    </div>
</div>

<div id="div-notification"></div>

<div class="row justify-center">
    <div class="col-2 m-4">
        <div class="greybox-sm p-1 form-check form-switch">
            <input type="checkbox" class="form-check-input autosave" id="closed" name="closed" data-model-name="incidents.incident" 
                data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification" data-bool="True"
                {% if obj.closed %}checked{% endif %}/> <span id="closed__msg"></span>
            <label class="form-check-label" for="closed">{% trans "Cerrada" %}</label>
        </div>
    </div>
    <div class="col-12 mt-3">
        <div class="greybox-sm p-1">
            {% trans "Descripción" %}
            <textarea class="form-control autosave" id="description" name="description" data-model-name="incidents.incident" 
                data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification" 
                placeholder="Nombre..."> {{obj.description}} </textarea><span id="description__msg"></span>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end p-2">
    <button type="button" class="btn btn-primary ark" data-bs-dismiss="modal" data-url="{% url "operation-incidents-list" %}"
        data-target="incidents-container">{% trans "Guardar" %}</button>
</div>

