{% load i18n gestion_tags %}


<div class="row main-th py-3 m-0">
    <div class="col-1"> {% trans 'Código' %} </div>
    <div class="col-2"> {% trans 'Nima' %} </div>
    <div class="col-3"> {% trans 'Descripción' %} </div>
    <div class="col-2"> {% trans 'Empresa gestora' %} </div>
    <div class="col-3"> {% trans 'Empresa propietaria' %} </div>
    <div class="col-1"></div>
</div>

{% for item in items %}
    <div class="row list-item pt-2 pb-2 m-0" id="row_{{item.id}}">
        <div class="col-1">{{ item.code|default:"---" }}</div>
        <div class="col-2">{{ item.nima|default:"" }}</div>
        <div class="col-3">{{ item.description|default:"" }}</div>
        <div class="col-2">{{ item.company|default:"" }}</div>
        <div class="col-3">{{ item.company_owner|default:"" }}</div>
        <div class="col-1 text-end">
            <div class="dropdown">
                <a class="pt-3" type="button" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i></a>
                <div class="dropdown-menu user-dropdown" aria-labelledby="dropdownProfile" data-popper-placement="bottom-start"
                    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(721px, 380px);" >
                    <ul class="m-0">
                        <li> 
                            <a class="btn btn-xs" href="{%url "facilities-manteinances" item.id%}" title="{%trans 'Mantenimiento'%}"> 
                                <i class="fas fa-cog"></i> {% trans 'Mantenimiento' %}</a></li>
                        <div class="dropdown-divider"></div>
                        <li> 
                            <a class="btn btn-xs ark" data-url="{%url "facilities-items"%}" data-target-modal="common-modal" 
                                data-obj_id="{{item.id}}" title="{% trans 'Materiales' %}"> <i class="fas fa-list"></i> 
                                {% trans 'Materiales' %}</a></li>
                        <div class="dropdown-divider"></div>
                        {% if user|in_group:"admins" %}
                            <li> 
                                <a class="btn btn-xs ark" data-url="{%url "facilities-form"%}" data-target-modal="common-modal" 
                                    data-obj_id="{{item.id}}" title="{%trans 'Editar'%}"><i class="fas fa-edit"></i> {%trans 'Editar'%}
                                </a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li> 
                                <a class="btn btn-xs ark" data-url="{% url "facilities-remove" %}" data-target="fac-list" 
                                    data-obj_id="{{item.id}}" title="{% trans 'Borrar' %}" 
                                    data-confirm="{% trans "Are you sure to remove this element?" %}">
                                    <i class="fas fa-trash"></i> {% trans 'Borrar' %}</a>
                            </li>
                            <div class="dropdown-divider"></div>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endfor %}

