{% load static %}

<table class="table" cellspacing="0" border="0">
	<tr>
		<td class="cell" colspan="2" bgcolor="#D9D9D9"><b><font face="Arial" color="#000000">
            INFORMACIÓN RELATIVA AL OPERADOR DEL TRASLADO</font></b></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">NIF</font></td>
		<td class="cell"><font face="Arial" color="#000000">A38279972</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Razón social/Nombre</font></td>
		<td class="cell"><font face="Arial" color="#000000">Gestión y Planeamiento Territorial y Ambiental S.A. (Gesplan)</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">NIMA</font></td>
		<td class="cell" sdval="3800000471" sdnum="3082;"><font face="Arial" color="#000000">3500000514</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Nº inscripción</font></td>
		<td class="cell"><font face="Arial" color="#000000">05E020000000000008</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Tipo Operador Traslado</font></td>
		<td class="cell"><font face="Arial" color="#000000">G04</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Dirección</font></td>
		<td class="cell"><font face="Arial" color="#000000">Residencial Amarca, avda. Tres de mayo 71, local bajo A.</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">C.P.</font></td>
		<td class="cell" sdval="38005" sdnum="3082;"><font face="Arial" color="#000000">38005</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Municipio</font></td>
		<td class="cell"><font face="Arial" color="#000000">Santa Cruz de Tenerife</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Provincia</font></td>
		<td class="cell"><font face="Arial" color="#000000">Santa Cruz de Tenerife</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Teléfono</font></td>
		<td class="cell"><font face="Arial" color="#000000">928301150</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Correo electrónico</font></td>
		<td class="cell">
            <u> <font color="#0563C1"> 
                <a href="mailto:ahercon@gesplan.es">ahercon@gesplan.es</a></font></u></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Firma operador de traslado</font></td>
		<td class="cell"> <img src="{% static 'images/firma_operador.jpeg'%}" width="50%"> </td>
	</tr>
</table>
