{% load static %}

<table class="table" cellspacing="0" border="0">
	<tr>
		<td class="cell" colspan="2" bgcolor="#D9D9D9"><b><font face="Arial" color="#000000">
            INFORMACIÓN SOBRE LA RECEPCIÓN EN ORIGEN DEL RESIDUO RECHAZADO Y DEVUELTO</font></b></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Fecha entrega:</font></td>
		<td class="cell"><font face="Arial" color="#000000">{{datas.end_date}}<br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Kg. netos recibidos</font></td>
		<td class="cell"><font face="Arial" color="#000000">{{datas.res_amount}}<br></font></td>
	</tr>
</table>
