{% load static %}

<table class="table" cellspacing="0" border="0">
	<tr>
		<td class="cell" colspan="2" bgcolor="#D9D9D9"><b><font face="Arial" color="#000000">
            INFORMACIÓN RELATIVA AL ORIGEN DEL TRASLADO</font></b></td>
	</tr>
	<tr>
		<td class="cell" colspan="2" bgcolor="#F2F2F2"><b><font face="Arial" color="#000000">
            Información del centro productor o poseedor de residuos o de la instalación origen del traslado:</font></b></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">NIF</font></td>
		<td class="cell"><font face="Arial" color="#000000">P3800001D</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Razón social/Nombre</font></td>
		<td class="cell"><font face="Arial" color="#000000">Cabildo Insular de Tenerife</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">NIMA</font></td>
		<td class="cell" sdval="3800009976" sdnum="3082;"><font face="Arial" color="#000000">{{datas.ot_nima}}</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Nº inscripción</font></td>
		<td class="cell"><font face="Arial" color="#000000">RNP-1090-IC</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Tipo centro <br>Productor</font></td>
		<td class="cell"><font face="Arial" color="#000000">G04</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Dirección</font></td>
		<td class="cell"><font face="Arial" color="#000000">{{datas.ot_address}}</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">C.P.</font></td>
		<td class="cell" sdval="38108" sdnum="3082;"><font face="Arial" color="#000000">38108</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Municipio</font></td>
		<td class="cell"><font face="Arial" color="#000000">{{datas.ot_town}}</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Provincia</font></td>
		<td class="cell"><font face="Arial" color="#000000">Santa Cruz de Tenerife</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Teléfono</font></td>
		<td class="cell" sdval="922249199" sdnum="3082;"><font face="Arial" color="#000000">922249199</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Correo electrónico</font></td>
		<td class="cell"><u><font color="#0563C1">puntoslimpios@tenerifemassostenible.es</font></u></td>
	</tr>
	<tr>
		<td class="cell" colspan="2" bgcolor="#F2F2F2"><b><font face="Arial" color="#000000">
            Información de la empresa autorizada para realizar operaciones de tratamiento de residuos, incluido el almacenamiento, 
            en caso de que el origen del traslado sea una instalación de tratamiento de residuos</font></b></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">NIF</font></td>
		<td class="cell"><font face="Arial" color="#000000">A38279972</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Razón social/Nombre</font></td>
		<td class="cell"><font face="Arial" color="#000000">Getión y Planeamiento Territorial y Ambiental S.A. (Gesplan)</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">NIMA</font></td>
		<td class="cell" sdval="3800000471" sdnum="3082;"><font face="Arial" color="#000000">3500000514</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Nº inscripción</font></td>
		<td class="cell"><font face="Arial" color="#000000">05E0200000000008</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Dirección</font></td>
		<td class="cell"><font face="Arial" color="#000000">Residencial Amarca, avda Tres de Matyo 71, Local bajo, A</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">C.P.</font></td>
		<td class="cell" sdval="38005" sdnum="3082;"><font face="Arial" color="#000000">38005</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Municipio</font></td>
		<td class="cell"><font face="Arial" color="#000000">Santa Cruz de Tenerife</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Provincia</font></td>
		<td class="cell"><font face="Arial" color="#000000">Santa Cruz de Tenerife</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Teléfono</font></td>
		<td class="cell"><font face="Arial" color="#000000">928301150</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Correo electrónico</font></td>
		<td class="cell"><u><font color="#0563C1">
            <a href="mailto:bdelarosa@tenerifemassostenible.es">ahercon@gesplan.es</a></font></u></td>
	</tr>
</table>
