{% load i18n %}

<ul class="nav nav-tabs sub d-flex justify-content-center pt-3 b-none">
    <li class="nav-item"> <a class="nav-link sub {%if not current_tab or current_tab == ""%}active{%endif%}" 
        data-bs-toggle="tab" href="#routes-pl"> {% trans "Puntos limpios" %}</a> </li>
    <li class="nav-item"> <a class="nav-link sub {%if current_tab == "mpl"%}active{%endif%}" data-bs-toggle="tab" 
        href="#routes-mpl"> {%trans "Mini puntos limpios"%}</a> </li>
    <li class="nav-item"> <a class="nav-link sub {%if current_tab == "ext"%}active{%endif%}" data-bs-toggle="tab" 
        href="#routes-ext"> {%trans "Gestores externos"%}</a> </li>
    <li class="nav-item"> <a class="nav-link sub {%if current_tab == "act"%}active{%endif%}" data-bs-toggle="tab" 
        href="#actions"> {%trans "Otras acciones"%}</a> </li>
</ul>

<div class="tab-content internal mt-3">
    {# -------------------------- PUNTOS LIMPIOS ------------------------#}
    <div class="tab-pane container {%if not current_tab or current_tab == ""%}active{%endif%}" id="routes-pl">
        <div id="div-routes-pl"> {% include "operations/routes/routes-pl.html" %}</div></div>

    {# -------------------------- MINI PUNTOS LIMPIOS ------------------------#}
    <div class="tab-pane container {%if current_tab == "mpl"%}active{%endif%}" id="routes-mpl">
        <div id="div-routes-mpl"> {% include "operations/routes/routes-mpl.html" %}</div></div>

    {# -------------------------- GESTORES EXTERNOS ------------------------#}
    <div class="tab-pane container {%if current_tab == "ext"%}active{%endif%}" id="routes-ext">
        <div id="div-routes-ext"> {% include "operations/routes/routes-ext.html" %}</div></div>

    {# -------------------------- OTRAS ACCIONES ------------------------#}
    <div class="tab-pane container {%if current_tab == "act"%}active{%endif%}" id="actions">
        <div id="div-actions"> {% include "operations/routes/actions.html" %}</div></div>
</div>
 
