{% load i18n gestion_tags %}


<div class="row main-th py-3 m-0">
    <div class="col-3"> {% trans 'Razón social' %} </div>
    <div class="col-2"> {% trans 'Número de registro' %} </div>
    <div class="col-2"> {% trans 'NIF' %} </div>
    <div class="col-1"> {% trans 'Teléfono' %} </div>
    <div class="col-3"> {% trans 'Email' %} </div>
    <div class="col-1"></div>
</div>

{% for item in items %}
    <div class="row list-item pt-2 pb-2 m-0" id="row_{{item.id}}">
        <div class="col-3">{{ item.name|default:"---" }}</div>
        <div class="col-2">{{ item.register_number|default:"" }}</div>
        <div class="col-2">{{ item.nif|default:"" }}</div>
        <div class="col-1">{{ item.phone|default:"" }}</div>
        <div class="col-3">{{ item.email|default:"" }}</div>
        <div class="col-1 text-end">
            {% if user|in_group:"admins" %}
                <div class="dropdown">
                    <a class="pt-3" type="button" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu user-dropdown" aria-labelledby="dropdownProfile" data-popper-placement="bottom-start"
                        style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(721px, 380px);" >
                        <ul class="m-0">
                            <li> 
                                <a class="btn btn-xs ark" data-url="{% url "companies-form" %}" data-target-modal="common-modal" 
                                    data-obj_id="{{item.id}}" title="{%trans 'Editar'%}">
                                    <i class="fas fa-edit"></i> {%trans 'Editar'%}</a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li> 
                                <a class="btn btn-xs ark" data-url="{% url "companies-remove" %}" data-target="comp-list" 
                                    data-obj_id="{{item.id}}" title="{% trans 'Borrar' %}" title="{% trans 'Borrar' %}" 
                                    data-confirm="{% trans "Are you sure to remove this element?" %}">
                                    <i class="fas fa-trash"></i> {% trans 'Borrar' %}</a> 
                            </li>
                            <div class="dropdown-divider"></div>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}

