{% load i18n %}

<h3 class="orange text-center mt-2">Formulario de Recogida</h3>
<p class="text-center"><strong>Fecha: </strong>{{today|date:"Y-m-d H:i:s"}}</p>

<form action="{% url 'pwa-operator-citizens-save' %}" method="post" id="frmCitizen" class="m-0">
    {% csrf_token %}
    <input type="hidden" id="obj_id" name="obj_id" value="{{obj.id}}" />
    <div class="row my-2">
        <div class="h1-pwa col-12 mt-3"><strong>Matrícula</strong></div>
        <div class="col-8">
            <input class="form form-control w-100 orange-inp" type="text" value="{{obj.plate}}" id="plate" name="plate" />
        </div>
        <div class="col-4 text-end">
            <button type="button" class="btn btn-sm" id="btn-plate"><i class="fas fa-search"></i> {% trans "Comprobar matrícula" %}</button>
        </div>
        <div class="col-12" id="plate-result"></div>
        <div class="h1-pwa col-12 mt-3">DNI/NIF</div>
        <div class="col-12">
            <input class="form form-control w-100 orange-inp" type="text" value="{{obj.identification}}" id="identification" 
                name="identification" />
        </div>
        <div class="h1-pwa col-12 mt-3">Término Municipal</div>
        <div class="col-12">
            <select class="form form-control w-100 orange-sel" id="town" name="town">
                {% for item in town_list %}
                    <option value="{{item.id}}" {%if item.id == obj.type.id%}selected{%endif%}>{{item.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="h1-pwa col-12 mt-3">Código Postal</div>
        <div class="col-12">
            <input class="form form-control w-100 orange-inp autosave" type="text" value="{{obj.observations}}" id="observations" 
                name="observations" />
        </div>

        {%comment%}
        <div class="h1-pwa col-12 mt-3">Teléfono</div>
        <div class="col-12">
            <input class="form form-control w-100 orange-inp" type="text" value="{{obj.phone}}" id="phone" name="phone" />
        </div>
        <div class="h1-pwa col-12 mt-3">Correo electrónico</div>
        <div class="col-12">
            <input class="form form-control w-100 orange-inp" type="text" value="{{obj.email}}" id="email" name="email" />
        </div>
        {%endcomment%}
        {%comment%}
        <div class="h1-pwa col-12 mt-3">Dirección</div>
        <div class="col-12">
            <input class="form form-control w-100 orange-inp autosave" type="text" value="{{obj.address}}" id="address" 
                name="address" />
        </div>
        {%endcomment%}
        <div class="row m-0 mt-5">
            {% if obj != None %} <div class="col-6 text-center"> {% else %} <div class="col-12 text-center"> {% endif %}
                <button class="btn btn-primary w-100 saveform" data-form="frmCitizen" data-target="div-content">
                    <strong>GUARDAR</strong></button>
                {#<button type="submit" class="btn btn-primary w-100"><strong>GUARDAR</strong></button>#}
                {#<a href="{% url "pwa-operator-citizens" %}" class="btn btn-primary w-100"><strong>GUARDAR</strong></a> #}
            </div>
            {% if obj != None %}
            <div class="col-6 text-center"> 
                <a href="{% url "pwa-operator-citizens-remove" obj.id %}" class="btn btn-danger w-100" 
                    {#onclick="return confirm('Esta seguro/a de que desea borrar este elemento?');"#}><strong>ELIMINAR</strong></a> 
            </div>
            {% endif %}
        </div>
    </div>
</form>

<script>
    $(document).ready(function() {
        $.ajaxSetup({
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            xhrFields: {
            withCredentials: true // <-- Esto mantiene las cookies en la misma web
            }
        });

        {#$('#plate').keyup(function() {#}
        $('#btn-plate').click(function() {
            $.ajax({
                url: "{% url 'citizens-info2' %}",
                type: "GET",
                data: {'plate': $("#plate").val(),},
                success: function(data) {
                    if (!data.error) {
                        $('#identification').val(data.dni);
                        $('#observations').val(data.observations);
                        $('#town').val(data.town);
                    }
                    else{
                        $("#plate-result").html("Matrícula no encontrada");
                    }
                },
                error: function(xhr, status, error) { console.log(error); }
            });
        });
    });
</script>

