{% extends 'base.html' %}
{% load i18n gestion_tags %}

{% block central_content %}
    <div class="row toolbar-search p-2 m-0">
        <div class="col-lg-1 col-1 b-search"><i class="fas fa-search pt-2"></i></div>
        <div class="col-lg-11 col-11 p-0">
            <input type="text" class="autosearch form-control form-control-dark w-100" name="s-name" id="s-name" 
               placeholder="{%trans 'Nombre'%}" data-url="{% url "trucks-search" %}" data-target="truck-list" data-related="s-name" />
        </div>
    </div>
    <div class="content mt-4">
        <div class="toolbar-content p-3">
	        <h2 class="pathway b-right">{%trans 'Camiones'%} 
                <span id="items-counter" class="badge badge-secondary">{{items|length}}</span></h2>
            {% if user|in_group:"admins" %}
                <button type="button" class="btn btn-sm ark new" data-url="{%url "trucks-form"%}" data-target-modal="common-modal"> 
                    <i class="fas fa-plus"></i> {% trans 'Crear Camión' %}</button> 
            {% endif %}
        </div>
        <div id="truck-list" class="ml-list">{% include "trucks/trucks-list.html" %}</div>
    </div>
    {% include "common-modal.html" %}
{% endblock central_content %}
