{% load i18n %}


<div class="row modal-head m-0">
    <div class="col-11"><i class="fa fa-truck"></i>&nbsp; {% trans 'Camión' %} </div>
    <div class="col-1">
        <div class="d-flex justify-content-end"> 
            <button type="button" class="btn btn-lg" data-bs-dismiss="modal" title="{% trans "Close" %}">
            <i class="fas fa-times"></i></button> </div>
    </div>
</div>

<div id="div-notification"></div>

<div class="row justify-center">
    <div class="col-3 mt-3">
        <div class="greybox-sm p-1">
            {% trans "Matrícula" %}
            <input type="text" class="form-control autosave" id="number_plate" name="number_plate" 
                value="{{obj.number_plate|default:""}}" title="{{obj.number_plate}}" data-model-name="gestion.truck" 
                data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification" 
                placeholder="Matrícula..." /> <span id="number_plate__msg"></span>
        </div>
    </div>
    <div class="col-3 mt-3">
        <div class="greybox-sm p-1">
            {% trans "ITV" %}
            <input type="date" class="form-control autosave" id="itv_date" name="itv_date" value="{{obj.itv_date|date:"d-m-Y"}}" 
                title="{{obj.itv_date}}" data-model-name="gestion.truck" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="ITV..." /> <span id="itv_date__msg"></span>
        </div>
    </div>
    <div class="col-6 mt-3">
        <div class="greybox-sm p-1">
            {% trans "Tipo de camión" %}
            <select id="type" name="type" class="form-control autosave" data-model-name="gestion.truck"
                data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification">
                <option value="">{% trans "-- Seleccione un tipo de camión --" %}</option>
                {% for truck_type in truck_type_list %}
                    <option value="{{truck_type.id}}" {% if truck_type == obj.type %}selected{% endif %}>{{truck_type}}</option>
                {% endfor %}
            </select>
            <span id="type__msg"></span>
        </div>
    </div>
    <div class="col-5 mt-3">
        <div class="greybox-sm p-1">
            {% trans "Instalación" %}
            <select id="base_station" name="base_station" class="form-control autosave" data-model-name="gestion.truck" 
                data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification">
                <option value="">{% trans "-- Seleccione una instalación por defecto --" %}</option>
                {% for fac in facilities %}
                    <option value="{{fac.id}}" {%if fac.id == obj.base_station.id%}selected{%endif%}>{{fac.description}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-5 mt-3">
        <div class="greybox-sm p-1">
            {% trans "Empresa" %}
            <select id="company" name="company" class="form-control autosave" data-model-name="gestion.truck"
                data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification">
                <option value="">{% trans "-- Seleccione una empresa --" %}</option>
                {% for company in company_list %}
                    <option value="{{company.id}}" {% if company == obj.company %}selected{% endif %}>{{company}}</option>
                {% endfor %}
            </select>
            <span id="company__msg"></span>
        </div>
    </div>
    <div class="col-2 mt-3">
        <div class="greybox-sm p-1">
            {% trans "Disponible" %}
            <input type="checkbox" class="autosave" id="available" name="available" data-model-name="gestion.truck" 
                data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification" data-bool="True"
                {%if obj.available%}checked{%endif%}/> 
            <span id="available__msg"></span>
        </div>
    </div>
    <div class="col-12 mt-3">
        <div class="greybox-sm p-1">
            {% trans "Observaciones" %}
            <input type="text" class="form-control autosave" id="observations" name="observations" 
                value="{{obj.observations|default:""}}" title="{{obj.observations}}" data-model-name="gestion.truck" 
                data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification" placeholder="NIF..." /> 
            <span id="observations__msg"></span>
        </div>
    </div>


    {%comment%}
    <div class="col-lg-3 offset-lg-0 col-7 offset-1 mt-3">
        <div class="greybox-sm p-1">
            {% trans "Disponible en sábado" %}
            <input type="checkbox" class="autosave" id="on_saturday" name="on_saturday" data-model-name="gestion.truck" 
                data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification" data-bool="True"
                {%if obj.on_saturday%}checked{%endif%}/> 
            <span id="available__msg"></span>
        </div>
    </div>
    {%endcomment%}
 
    {%comment%}
    <div class="col-lg-6 col-4 mt-3">
        <div class="greybox-sm p-1">
            {% trans "Teléfono" %}
            <input type="text" class="form-control autosave" id="phone" name="phone" value="{{obj.phone|default:""}}" 
                title="{{obj.phone}}" data-model-name="gestion.company" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Teléfono..." /> <span id="phone__msg"></span>
        </div>
    </div>
    <div class="col-lg-6 col-8 mt-3">
        <div class="greybox-sm p-1">
            {% trans "Correo electrónico" %}
            <input type="text" class="form-control autosave" id="email" name="email" value="{{obj.email|default:""}}" 
                title="{{obj.email}}" data-model-name="gestion.company" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Correo electrónico..." /> <span id="email__msg"></span>
        </div>
    </div>
    <div class="col-12 mt-3">
        <div class="greybox-sm p-1">
            {% trans "Dirección" %}
            <input type="text" class="form-control autosave" id="address" name="address" value="{{obj.address|default:""}}" 
                title="{{obj.address}}" data-model-name="gestion.company" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Dirección..." /> <span id="address__msg"></span>
        </div>
    </div>
    <div class="col-lg-4 col-5 mt-3">
        <div class="greybox-sm p-1">
            {% trans "Código postal" %}
            <input type="text" class="form-control autosave" id="cp" name="cp" value="{{obj.cp|default:""}}" 
                title="{{obj.cp}}" data-model-name="gestion.company" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Código postal..." /> <span id="cp__msg"></span>
        </div>
    </div>
    <div class="col-lg-4 col-7 mt-3">
        <div class="greybox-sm p-1">
            {% trans "Ciudad" %}
            <input type="text" class="form-control autosave" id="town" name="town" value="{{obj.town|default:""}}" 
                title="{{obj.town}}" data-model-name="gestion.company" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Ciudad..." /> <span id="town__msg"></span>
        </div>
    </div>
    <div class="col-lg-4 col-12 mt-3">
        <div class="greybox-sm p-1">
            {% trans "Provincia" %}
            <input type="text" class="form-control autosave" id="province" name="province" value="{{obj.province|default:""}}" 
                title="{{obj.province}}" data-model-name="gestion.company" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}"
                data-target="div-notification" placeholder="Provincia..." /> <span id="province__msg"></span>
        </div>
    </div>
    {%endcomment%}
</div>

<div class="d-flex justify-content-end p-2">
    <button type="button" class="btn btn-primary " data-bs-dismiss="modal" data-url="{% url "trucks-list" %}"
        data-target="truck-list">{% trans "Guardar" %}</button>
    {%comment%}
    <button type="button" class="btn btn-sm ark cancel" data-bs-dismiss="modal" data-url="{% url "guest-remove" %}" data-target="guest-list"
        data-obj_id="{{obj.id}}" data-confirm="{% trans "Are you sure to remove this element?" %}">{% trans "Remove" %}</button>
    {%endcomment%}
</div>
